$primaryColor:#FE566D !default;
$primaryLightColor:#FEE5DD !default;
$primaryDarkColor:#DA3E62 !default;
$primaryDarkerColor:#B62B58 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';