$primaryColor:#636FC0 !default;
$primaryLightColor:#E3E7FB !default;
$primaryDarkColor:#4853A5 !default;
$primaryDarkerColor:#313A8A !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';