$primaryColor:#F3A841 !default;
$primaryLightColor:#FEF5D9 !default;
$primaryDarkColor:#D0862F !default;
$primaryDarkerColor:#AE6620 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';