$primaryColor:#9754B8 !default;
$primaryLightColor:#F9E0FB !default;
$primaryDarkColor:#783D9E !default;
$primaryDarkerColor:#5B2A84 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';