$primaryColor:#44358F !default;
$primaryLightColor:#E1DAF9 !default;
$primaryDarkColor:#33267A !default;
$primaryDarkerColor:#241A66 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';