$primaryColor:#EC7A51 !default;
$primaryLightColor:#FEEEDC !default;
$primaryDarkColor:#CA573B !default;
$primaryDarkerColor:#A93828 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';