$primaryLightColor:#D5EEFF !default;
$primaryColor:#2E88FF !default;
$primaryDarkColor:#2169DB !default;
$primaryDarkerColor:#174EB7 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';