$primaryColor:#607D8B !default;
$primaryLightColor:#CFD8DC !default;
$primaryDarkColor:#455A64 !default;
$primaryDarkerColor:#37474F !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';