$primaryColor:#076D72 !default;
$primaryLightColor:#C9F7EA !default;
$primaryDarkColor:#055562 !default;
$primaryDarkerColor:#034152 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';