$primaryColor:#21B5AD !default;
$primaryLightColor:#D2FBEA !default;
$primaryDarkColor:#18979B !default;
$primaryDarkerColor:#107482 !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';