$primaryColor:#4045B1 !default;
$primaryLightColor:#DBDDFB !default;
$primaryDarkColor:#2E3298 !default;
$primaryDarkerColor:#20237F !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';