$primaryColor:#C03995 !default;
$primaryLightColor:#FBD8E2 !default;
$primaryDarkColor:#A52989 !default;
$primaryDarkerColor:#8A1C7C !default;
$primaryTextColor:#ffffff !default;

@import '../sass/theme/_theme';